body {
  background-color: #232628;
}

span {
  color: white;
}

label {
  font-size: 1.2rem;
  color: white;
}

img.top-image {
  height: 100%;
  width: 56.25px;
}

img.search-result-img {
  object-fit: fill;
  width: 100%;
  height: 100%;
  min-height: 190px;
}

img.search-result-img:hover {
  cursor: pointer;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }

  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

.anime-list-img {
  margin-top: 4px;
  margin-left: 15px;
  height: 100%;
  width: 56.25px;
}

.width-list-title {
  width: 100%;
}

.width-inputs {
  width: 100%;
}

.width-100px {
  width: 100px;
}

.block {
  display: block;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-center {
  display: flex;
  align-items: center;
}

.justify-around {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.inline {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.just-inline {
  display: inline-flex;
}

.inline-around {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.white {
  color: white;
}

.search-img-margin {
  margin-top: 20px;
  margin-right: 15px;
  margin-left: 15px;
  background-color: #1a1c1e;
}

.search-img-margin-green {
  margin-top: 20px;
  margin-right: 15px;
  margin-left: 15px;
  background-color: green;
}

.back-to-top-div {
  padding-bottom: 15px;
  padding-right: 10px;
}

.back-to-top {
  font-size: 1.2rem;
  border: 1px solid #232628;
  border-radius: 6px;
  color: #27b3fd;
  background-color: #1a1c1e;
  height: 2rem;
  width: 5rem;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

i#search-button:hover {
  cursor: pointer;
}

a:active {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

li {
  margin-top: 18px;
  margin-bottom: 18px;
}

.search-title-div {
  width: 100%;
  height: 40px;
}

.search-title {
  font-size: 1.1rem;
  color: #27b3fd;
  margin: 0;
  text-align: center;
}

.search-title-white {
  font-size: 1.3rem;
  color: white;
  margin: 0;
  text-align: center;
}

.margin-0 {
  margin: 0;
}

.margin-0t {
  margin-top: 0;
}

.margin-15t {
  margin-top: 15px;
}

.margin-30t {
  margin-top: 30px;
}

.margin-10tb {
  margin-top: 15px;
  margin-bottom: 15px;
}

.margin-15l {
  margin-left: 15px;
}

#synopsis {
  font-weight: normal;
  line-height: 1.4;
}

.synopsis {
  color: rgb(172, 172, 172);
  margin-right: 30px;
}

#star-fix {
  padding-left: 25px;
}

.selected-anime-stats {
  padding-left: 25px;
  font-size: 0.85rem;
  color: rgb(172, 172, 172);
}

#anchor-bar {
  padding-top: 10px;
  padding-bottom: 10px;
}

.anime {
  color: white;
  font-size: 2rem;
}

.nav-anchor {
  color: #0094ff;
  font-size: 1.4rem;
}

.nav-anchor-grey {
  color: grey;
  font-size: 1.4rem;
}

.font-2 {
  font-size: 0.8rem;
}

.font-0-7 {
  font-size: 0.7rem;
}

.fa-search {
  color: white;
  padding-right: 3px;
  padding-bottom: 0.5px;
}

.fa-star {
  font-size: 1rem;
  color: gold;
  padding-right: 15px;
  padding-left: 15px;
}

.background {
  background-color: #232628;
}

.anchor-background {
  background-color: #222435;
}

.top-background {
  background-color: #1a1c1e;
}

.top-anime {
  color: white;
  background-color: #2d4c90;
}

.top-scores {
  color: white;
  margin-right: 60px;
}

.top-titles {
  font-size: 1.2rem;
  padding-right: 15px;
  margin-left: 5px;
  color: #27b3fd;
}

.fa-arrow-left {
  color: #232628;
  visibility: hidden;
}

.arrow-down-div {
  padding-bottom: 10px;
  padding-left: 77px;
}

.fa-arrow-down {
  color: white;
  font-size: 2rem;
}

.fa-arrow-down:hover {
  cursor: pointer;
}

.search-bar {
  height: 50px;
  width: 100%;
  max-width: 100%;
  background-color: #1a1c1e;
}

input.search-input:active {
  border: none;
}

.search-bar-icon-div {
  padding-left: 30px;
  padding-right: 15px;
}

.search-input {
  font-size: 1.3rem;
  background-color: #1a1c1e;
  color: white;
  border: none;
  width: 80%;
}

.characters-button-div {
  margin-left: 15px;
}

.characters-button {
  border: 1px solid #0465aa;
  border-radius: 3px;
  height: 2rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  background-color: #0465aa;
}

.add-button-div {
  margin-right: 15px;
}

.add-button {
  border: 1px solid red;
  border-radius: 3px;
  height: 2rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  background-color: red;
}

#inlist {
  background-color: green;
  border: 1px solid green;
}

#inlist:hover {
  background-color: red;
  border: 1px solid red;
}

#not-inlist:hover {
  background-color: green;
  border: 1px solid green;
}

.selected-title {
  color: #27b3fd;
}

img.selected-picture {
  width: 100%;
  object-fit: contain;
}

.pop-up-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.633);
  height: 100%;
  z-index: 1;
}

div.row.pop-up-search {
  width: 100%;
  z-index: 2;
}

.pop-up-search {
  position: fixed;
  left: 50%;
  top: 8%;
  transform: translateX(-50%);
}

div.row.pop-up-list {
  width: 90%;
  max-width: 600px;
}

.pop-up-list {
  position: fixed;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  z-index: 2;
}

.pop-up-characters {
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  z-index: 2;
}

div.row.pop-up-characters {
  width: 80%;
  max-width: 567px;
}

.padding-left-fix {
  padding-left: 20px;
}

.test-margin {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.span-fix {
  display: block;
  margin-top: 15px;
  margin-left: 20px;
}

#score-input,
#progress-input {
  display: block;
  background: none;
  border: none;
  font-size: 1.3rem;
  height: 40px;
  background-color: #232628;
  color: white;
  width: 100px;
}

.delete-button-div {
  margin-top: 30px;
}

.delete-button {
  background-color: red;
  color: white;
  font-size: 1.1rem;
  border: 1px solid red;
  border-radius: 5px;
  width: 85px;
  height: 35px;
}

.save-button-div {
  margin-bottom: 15px;
}

.save-button {
  background-color: #1788b8;
  color: white;
  font-size: 1.1rem;
  border: 1px solid #1788b8;
  border-radius: 5px;
  width: 85px;
  height: 35px;
}

.no-button {
  background-color: red;
  color: white;
  font-size: 1.1rem;
  border: 1px solid red;
  border-radius: 5px;
  width: 85px;
  height: 40px;
}

.yes-button {
  background-color: green;
  color: white;
  font-size: 1.1rem;
  border: 1px solid green;
  border-radius: 5px;
  width: 85px;
  height: 40px;
}

.pop-up-char-title {
  height: 50px;
  color: #27b3fd;
  font-size: 0.8rem;
  background-color: #232628;
}

.pop-up-char-buttons {
  height: 80px;
  background-color: #1a1c1e;
}

.col-list-pop-up {
  background-color: #1a1c1e;
  width: 400px;
  padding: 25px;
}

.no-characters-text {
  font-size: 1.1rem;
}

ul#anime-list > li {
  margin: 0;
}

ul#anime-list > li > div:hover {
  cursor: pointer;
  background-color: #017ec0 !important;
}

ul#top-anime > li {
  cursor: pointer;
}

div#selected-anime-characters > div > div > img:hover {
  cursor: pointer;
}

div#character-list > div > div > img:hover {
  cursor: pointer;
}

@media screen and (min-width: 421px) {
  .font-2 {
    font-size: 0.85rem;
  }

  .no-characters-text {
    font-size: 1.5rem;
  }

  .selected-anime-stats {
    font-size: 1rem;
  }

  .top-titles {
    font-size: 1.5rem;
  }

  img.search-result-img {
    object-fit: fill;
    width: 100%;
    height: 100%;
    min-height: 237.34px;
  }
}

@media screen and (min-width: 768px) {
  .width-100px {
    width: 120px;
  }

  .selected-anime-stats {
    font-size: 1.3rem;
  }

  .width-list-title {
    width: 65%;
  }

  .width-inputs {
    width: 35%;
  }

  .font-2 {
    font-size: 1rem;
  }

  .block {
    display: inline-flex;
  }

  .top-titles {
    font-size: 1.8rem;
    padding-right: 0;
  }

  .search-bar {
    width: 768px;
  }

  .search-title {
    font-size: 1.3rem;
  }

  .col-list-pop-up {
    width: 600px;
  }

  .search-title-div {
    width: 100%;
  }

  img.search-result-img {
    object-fit: fill;
    width: 190px;
    height: 267px;
  }

  .padding-right {
    padding-right: 300;
  }

  .list-inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .padding-left-fix {
    padding-left: 0;
  }

  h3.padding-left-fix {
    width: 400px;
  }

  .anime-list-inline {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
  }

  .pop-up-char-title {
    font-size: 1rem;
  }

  .span-fix {
    display: inline-flex;
    margin-top: 0;
    margin-left: 75px;
    margin-right: 80px;
  }
}

@media screen and (min-width: 1280px) {
  ul#top-anime > li > div.row {
    height: 100px;
  }

  img.top-image {
    object-fit: fill;
    height: 100px;
    width: 73px;
  }

  .width-100px {
    width: 180px;
  }

  .top-titles {
    font-size: 2rem;
  }

  .font-2 {
    font-size: 1.3rem;
  }

  .top-scores {
    margin-right: 100px;
  }

  .anime-list-inline {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
  }

  .selected-picture-div {
    display: flex;
    align-items: flex-start;
  }

  img.selected-picture {
    width: 328.23px;
    max-height: 457.5px;
    object-fit: fill;
  }
}
